@use "./fonts" as *;
@use "./color" as *;

header {
  li {
    @include NavFont;
    color: black;
  }
  .Logo {
    @include Logo;
  }

  //   Hero section
  .BgImage {
    height: 90vh;
    animation-name: HeroImage;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }
  @keyframes HeroImage {
    15% {
      background-image: url("../images/HomeImg/hero.png");
    }
    25% {
      background-image: url("../images/HomeImg/hero3.png");
    }
    50% {
      background-image: url("../images/HomeImg/hero2.png");
    }
    100% {
      background-image: url("../images/HomeImg/hero3.png");
    }
  }

  .HeroText {
    @include HeroText;
  }
  .SubHeroText {
    @include SubHeroText;
  }
}

//   About Us Section
.H1Font {
  @include H1Font;
}
.PFont {
  @include PFont;
}

// Gallery Section
.BgColor {
  background-color: $BgColor;
  p {
    color: $PColor;
  }
  .galcolor {
    color: rgb(255, 252, 252);
  }
  .Pagination {
    color: $Pagination;
  }
}

// Colaboration setion
.ColbgImage {
  height: 85vh;
  animation-name: Modelling;
  animation-duration: 20s;
  animation-iteration-count: infinite;

  .TransBg {
    background-color: $TransBg;
    height: 63vh;
    width: 790px;
  }
}
@keyframes Modelling {
  15% {
    background-image: url("../images/HomeImg/section1png.png");
  }
  25% {
    background-image: url("../images/HomeImg/section2.png");
  }
  50% {
    background-image: url("../images/HomeImg/section1png.png");
  }
  100% {
    background-image: url("../images/HomeImg/section3.png");
  }
}

// Footer section
.FooterBg {
  background-color: $footer;
  .MutedText {
    @include MutedText;
  }
}
