* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NavBtn {
  background-color: #da26ea;
  border-radius: 0.3125rem;
  font-family: "Sanchez";
  font-size: 1.2rem !important;
}

header li {
  font-family: "Sanchez";
  font-size: 1.2rem !important;
  color: black;
}
header .Logo {
  font-family: "monospace";
  font-weight: bolder;
  font-size: 1.4rem !important;
}
header .BgImage {
  height: 90vh;
  -webkit-animation-name: HeroImage;
          animation-name: HeroImage;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes HeroImage {
  15% {
    background-image: url("../images/HomeImg/hero.png");
  }
  25% {
    background-image: url("../images/HomeImg/hero3.png");
  }
  50% {
    background-image: url("../images/HomeImg/hero2.png");
  }
  100% {
    background-image: url("../images/HomeImg/hero3.png");
  }
}
@keyframes HeroImage {
  15% {
    background-image: url("../images/HomeImg/hero.png");
  }
  25% {
    background-image: url("../images/HomeImg/hero3.png");
  }
  50% {
    background-image: url("../images/HomeImg/hero2.png");
  }
  100% {
    background-image: url("../images/HomeImg/hero3.png");
  }
}
header .HeroText {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 4.4rem !important;
  font-weight: 300;
}
header .SubHeroText {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem !important;
  font-weight: lighter;
}

.H1Font {
  font-family: "Sanchez";
  font-size: 1rem !important;
  font-weight: 400;
  color: #da26ea;
}

.PFont {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem !important;
  font-weight: 300;
}

.BgColor {
  background-color: #e9c7c6;
}
.BgColor p {
  color: #da26ea;
}
.BgColor .galcolor {
  color: rgb(255, 252, 252);
}
.BgColor .Pagination {
  color: #d78e8c;
}

.ColbgImage {
  height: 85vh;
  -webkit-animation-name: Modelling;
          animation-name: Modelling;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.ColbgImage .TransBg {
  background-color: rgba(255, 255, 255, 0.491);
  height: 63vh;
  width: 790px;
}

@-webkit-keyframes Modelling {
  15% {
    background-image: url("../images/HomeImg/section1png.png");
  }
  25% {
    background-image: url("../images/HomeImg/section2.png");
  }
  50% {
    background-image: url("../images/HomeImg/section1png.png");
  }
  100% {
    background-image: url("../images/HomeImg/section3.png");
  }
}

@keyframes Modelling {
  15% {
    background-image: url("../images/HomeImg/section1png.png");
  }
  25% {
    background-image: url("../images/HomeImg/section2.png");
  }
  50% {
    background-image: url("../images/HomeImg/section1png.png");
  }
  100% {
    background-image: url("../images/HomeImg/section3.png");
  }
}
.FooterBg {
  background-color: rgba(233, 199, 198, 0.48);
}
.FooterBg .MutedText {
  font-family: "Reem Kufi";
  font-size: 0.9rem;
  font-weight: 400 !important;
}
/*# sourceMappingURL=style.css.map */